*{
	padding: 0px;
	margin:0px;
}
ul,ol,li{
	list-style: none;
	text-align: center;

}
a{
	text-decoration: none;
}
.all{
	margin: 0px auto;
}
.bighead{
	height: 190px;
	width: 100%;
	border-bottom: 3px solid #3aa747;
}
.aaa{
	margin: 0px auto;
	height: 190px;
	width: 1196px;
	
}
.abovehead{
	height: 36px;
	width: 100%;
	
}
.abovehead a{
	color: black;
	font-size: 13px;
}
.abovehead p{
	margin-top: 8px;
	float: right;
}
.abovehead span{
	margin-left: 40px;
}
.abovehead img{
	margin-right: 5px;
	margin-top: 5px;
	float: right;
}
.middlehead{
	height: 111px;
	width: 100%;
	
}
.input{
	height: 45px;
	width: 600px;
	border:1px solid black;
	margin-left: 175px;
	float: left;
	margin-top:20px ;
	
}
.photo1{
	float: left;
	margin-top: 20px;

}
.photo2{
	float: right;
	margin-top: 30px;

}

.tailhead{

	height: 38px;
	width: 100%;
	

}
.tailhead select{
	margin-top: 10px;
	float: left;
}
.tailhead a{
	float: left;
	line-height: 38px;
	height: 38px;
	margin-left: 60px;
	color: black;

}

.tailhead a:hover{

	border-bottom:5px solid #3aa747 ;
	
}
.banner{
	margin: 0px auto;
	width: 1919px;
	height: 674px;
}
.body1{
	margin: 0px auto;
	height: 50px;
	width: 1200px;
	border: 1px solid white;

}
.body1 span{
	line-height: 50px;
}
.body2{
	height: 134px;
	width: 1200px;
	border-right: 1px solid #cccccc;
	margin: 0px auto;
}
.body2 div{
	height: 42px;
	border-top: 1px #cccccc solid;
}
.body2 div li{
	line-height: 42px;
	width: 100px;
	height: 42px;
	float: left;
}
.body2 div a{
	color: black;
}
.body2 div a:hover{
	color: #7cc484;

}
.body3{
	width: 1200px;
	height: 650px;
	border: 1px solid white;
	margin: 57px auto;
}
.body3 li{
	margin: auto;
	margin-top: 28px;
	margin-left: 26px;
	float: left;
	width: 268px;
	height: 293px;
	border: 1px solid black;
	position: relative;
}
.body3 img{
	height: 100%;
	width: 100%;
}
.body3 li .hidden1{
	height: 50px;
	width: 100%;
	background-color: rgba(33, 33, 33, 0.7);
	position: absolute;
	bottom: 0px;
	color: white;
	font-size: 12px;

}
.hidden1 p{
	margin-top: 6px;

}
.body3 li:hover .hidden1{
	display: none;
}
.hidden2{
	display: none;
	height: 100%;
	width: 100%;
}
.body3 li:hover .hidden2{
	position: absolute;
	bottom: 0px;
	display: block;
	background-color: rgba(33, 33, 33, 0.7);
}
.hidden2 p{
	color: white;
	margin-top: 17px;
}
.body4{
	margin-top: 137px;
	height: 102px;
	background-color: #f5f5f5;

}
.pppp{
	height: 102px;
	width: 1200px;
	margin: 0px auto;
}
.body4 li{
	margin-top:23px ;
	float: left;
	width: 284px;
	height: 50px;
	border-right: 1px solid #e1e1e1;

}
.body4 img{
	float: left;
	margin-left: 42px;
}
.body5{
	height: 102px;
	background-color: #323232;

}
.qqqq{
	padding-top: 17px;
	height: 102px;
	width: 1200px;
	margin: 0px auto;
	text-align: center;
}
.qqqq a{
	
	margin-left: 10px;
	margin-right: 11px;
	margin-top: 100px;
	color: white;
}
.qqqq p{
	margin-top: 17px;
	color: white;
}
.ggg{
	height: 535px;
	width: 74px;
	
	background-color: #0c110f;

	position: fixed;
	right: 0px;
	top: 187px;
}
.ggg li{
	height: 106px;
	background-color: #0c110f;
	border-bottom: 1px solid #606260;
	width:100% ;
}
.jjj{
	margin-right: 100px;
	width: 60px;
	height: 100%;
	margin: 0px auto;
}
.ggg img{
	margin-top: 38px;
	line-height: 106px;
}